.posts__divsion{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 6rem;
}

.divsion__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.8rem;

  color: #D9D9D9;
}

.divsion__line{
  width: 100%;
  height: 2rem;

  margin-left: 2rem;

  background: radial-gradient(99.3% 362248.93% at 100% 50.05%, #9B57DE 0%, rgba(155, 87, 222, 0) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.posts__filter{
  display: flex;
  justify-content: flex-end;
}

.filter__dropdown{
  all: unset;

  width: 11rem;
  height: 4rem;

  margin: 2rem 0;

  border: 2px solid #D9D9D9;
  border-radius: 5rem;

  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3.4rem;

  color: #D9D9D9;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  
  cursor: pointer;
}

.posts__row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.row__box {
  max-width: 34.5rem;

  display: flex;
  flex-direction: column;
}

.box__perfil{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem 18rem;
}

.perfil__photo {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #1E1E1E;
  border: 2px solid white;
  border-radius: 50%;

  cursor: pointer;
}

.info__name, .info__date {
  font-weight: 400;
  font-size: 1.6rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  color: #D9D9D9;

  cursor: pointer;
}

.info__date {
  color: #727272;
}

.box__text {
  background: linear-gradient(0deg, #222222 0%, rgba(0, 0, 0, 0.71) 17.28%, 
  rgba(0, 0, 0, 0.28) 74.74%, rgba(0, 0, 0, 0) 96.87%);

  padding: 2rem 1rem 1rem;

  color: #D9D9D9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text__localization {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.8rem;
}

.text__contents {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.text__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0.8rem;
}

.icons__comments:hover {
  transform: scale(1.18);
  cursor: pointer;
}

.icons__like:hover {
  transform: scale(1.18);
  cursor: pointer;
}

.posts__load {
  display: flex;
  justify-content: center;

  margin-top: 5rem;
}

.load__btn {
  all: unset;

  width: 17.3rem;
  height: 4.5rem;

  background: #9B57DE;
  border: 1px solid rgba(155, 87, 222, 0.67);
  border-radius: 2rem;

  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.4rem;
  text-align: center;

  color: #FFFFFF;

  cursor: pointer;
}