.modal__banner {
  position: fixed;
  z-index: 100;
  
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__banner___body {
  width: 120rem;
  height: 60rem;
  background-color: #181818;
  box-shadow: 0px 0px 30px rgba(0,0,0,.5);
  border-radius: 1rem;

  display: flex;
 
  justify-content: space-between;
  margin: 0 2rem;
  position: relative;
}

.modal__banner___img {
  max-width: 50%;
  height: 100%;
}

.modal__banner___img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.modal__banner___contents {
  max-width: 50%;
 
  align-items: center;
  padding: 2rem;

  color: #ffffff;
  overflow-y: auto;
}

.modal__banner___title {
  font-size: 3rem;
  margin-top: 6rem;
}

.modal__banner___line {
  content: '';
  height: .4rem;
  width: 100%;
  background: #9B57DE;
  box-shadow: 3px 3px 4px #0f0f0f;
  margin-bottom: 2rem;
}

.modal__banner___text {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.modal__banner___btn {
  all: unset;
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  top: 2rem;
  right: 2rem;

  color: #ffffff49;
}

.modal__banner___btn:hover {
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: .5rem;
  background-color:transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0 0% 51% / .5);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #828282;
}