.main__highlights {
  width: 100%;
  margin: 4.5rem 0 6rem 0;
}

.highlights__title {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.8rem;
  text-align: center;
  
  color: #ffffff;
}

.highlights__box{
  margin-top: 2.5rem;

  display: flex;
  justify-content: center;
  gap: 2rem;
}

.highlights__box___circle {
  width: 10rem;
  height: 10rem;
  background-color: #1E1E1E;
  border: 0.2rem solid white;
  border-radius: 50%;

  cursor: pointer;
}