.post__publication {
  width: 144rem;
  height: auto;
  
  display: flex;
  justify-content: space-between;
}

.publication__box {
  display: flex;
  flex-direction: column;

  width: 108rem;
}

.publication__box___item {
  max-width: 100%;
  height: 72rem;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #181818;

  margin-top: 8rem;
}

.publication__box___icons {
  display: flex;
  gap: 1rem;

  font-weight: 400;
  font-size: 2.5rem;

  color: #ffffff;

  margin-top: 1rem;
}

.publication__box___text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 29px;

  color: #ffffff;

  margin-top: 1rem;
}

.publication__carousel {
  height: 72rem;
  margin-top: 8rem;
  overflow-y: scroll;

}

.carousel__iten {
  width: 20rem;
  height: 15rem;

  background-size: cover;
  background-repeat: no-repeat;
  list-style: nome;
  margin-bottom: 1rem;
}