@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container-data input {
  all: unset;
  align-items: center;
  text-align: end;

  font-family: "Montserrat";
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 39px;
  padding-left: 8px;
}
