.row__card {
  max-width: 32rem;
  height: 37rem;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: .5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  transition: transform 500ms ease;
}

.row__card:hover, .row__card:focus-within {
  
  transform: translateY(-.6rem);
  
  box-shadow: 0px 11px 14px rgba(0, 0, 0,50%), 0 8px 20px rgb(0 0 0 / 20%);
}

.card__nick {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 1rem;
  gap: 1rem;
}

.card__nick___photo {
  width: 4.5rem;
  height: 4.5rem;
  border: 2px solid #9B57DE;
  border-radius: 50%;

  background-size: cover;

  cursor: pointer;
}

.info__name {
  font-weight: 700;
  font-size: 1.6rem;
  color: #ffffff;
  text-shadow: 1px 1px 1px #0f0f0f;

  cursor: pointer;
}

.info__date {
  font-weight: 400;
  font-size: 1.6rem;
  color: #585858;
}

.card__intro {
  padding: 2rem;
  background: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / .3) 20%, 
  hsl(0 0% 0% / 1));
  transform: translateY(72%);
  transition: transform 500ms ease;
}

.row__card:hover .card__intro, .row__card:focus-within .card__intro {
  transform: translateY(0);
  transition-delay: 500ms;
}

.row__card:focus-within .card__intro {
  transition-duration: 0ms;
}

.card__intro > *:not(.card__intro___location) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.row__card:hover .card__intro > *:not(.card__intro___location), 
.row__card:focus-within .card__intro > *:not(.card__intro___location) {
  opacity: 1;
  transition-delay: 1000ms;
}

.card__intro___location {
  position: relative;
  width: max-content;
  color: #FFFFFF;
  text-shadow: 3px 3px 2px #0f0f0f;
  font-weight: 600;
  font-size: 2rem;
  
}

.card__intro___location::after {
  content: '';
  position: absolute;
  height: 4px;
  left: calc((2rem) * -1);
  bottom: -2px;
  width: calc(100% + 2rem);
  background: #9B57DE;
  box-shadow: 3px 3px 4px #0f0f0f;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.row__card:hover .card__intro___location::after, 
.row__card:focus-within .icard__intro___location::after {
  transform: scaleX(1);
}

.card__intro___text {
  color: rgb(255 255 255 / 0.95);
  text-shadow: 3px 3px 2px #0f0f0f;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 1rem 0;
  min-height: 8rem;
  max-height: 2rem;
  overflow-y: hidden;
}

.intro__view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__view___btn {
  all: unset;
  cursor: pointer;
  color: #FFFFFF;
  border: .1rem solid #9B57DE;
  border-radius: 0.25em;
  padding: 0.25em 0.55em;
}

.intro__view___btn:hover, .intro__view___btn:focus {
  background: rgba(155, 87, 222, 0.6);
  border: .1rem solid #FFFFFF;
}

.intro__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;

  color: rgb(255 255 255 / 0.85);
  font-size: 2.5rem;
}