.header__search {
  width: 51.9rem;
  height: 4.8rem;

  display: flex;
  align-items: center;
  
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid #A6A6A6;
  border-radius: 5rem;
}

#search {
  height: 100%;

  background: transparent;
  flex: 1;
  border: 0;
  outline: none;

  font-weight: 400;
  font-size: 1.5rem;


  padding-left: 2.2rem;
  color: #D9D9D9;
}

::placeholder {
  color: #D9D9D9;
}

.search__btn {
  display: flex;

  font-size: 2.5rem;
  color: white;
  
  border: 0;
  background: rgba(0, 0, 0, 0);
  margin-right: 2rem;

  cursor: pointer;
}