.sign-in {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

    background-color: #222222;

    margin: auto;
}

.sign-in__form {
    display: flex;
    flex-direction: column;
    
    width: 53.6rem;
    padding: 3.4rem 8.75rem;

    border-radius: 20px 0px 0px 20px;
}

.sign-in__title {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;

    color: #9B57DE;
    
    margin: 0 auto;
    margin-bottom: 7.3rem;
}

.sign-in__label {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
    
    color: #FFFFFF;
}

.sign-in__input {
    height: 4.1rem;
    padding: 0 1rem;
    margin-bottom: 3.2rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #D7D7D7;
    background-color: #222222;

    border: none;
    border-bottom: 2.5px solid white;
}

.sign-in__button,
.sign-up__button {
    width: 16.5rem;
    height: 4.8rem;

    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;

    border: none;
    border-radius: 15px;

    cursor: pointer;
}

.sign-in__button:hover,
.sign-up__button:hover {
    filter: brightness(1.2);
}

.sign-in__button__group .sign-in__button,
.sign-in__button__group .sign-up__button:hover {
    background: #9B57DE;
    color: #FFFFFF;
}

.sign-in__button__group .sign-up__button {
    background: #222222;
    color: #9B57DE;
}

.sign-in__img {
    height: 55.7rem;
    border-radius: 0px 20px 20px 0px;
}

.sign-in__button__group {
    margin: 0 auto;
    margin-top: 4.1rem;

    display: flex;
    gap: 2.9rem;
}