@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container-header-line {
    display: flex;
    position: absolute;
    width: 85%;
    height: 2.1rem;
    right: 8rem;
    top: 40.5rem;
  
    border: none;
    background: radial-gradient(
      99.3% 362248.93% at 100% 50.05%,
      #9b57de 0%,
      rgba(155, 87, 222, 0) 100%
    );
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, -0.25);
  }
  
  #header-line__h2 {
    position: absolute;
    width: 128.21px;
    height: 43.75px;

    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
  
    color: #d9d9d9;
    left: -5.5rem;
    top: -2rem;
  
    color: #d9d9d9;
  }