@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container-postagem {
    width: 100vw;
    height: 2418px;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #222222;
}

