@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container-home {
    width: 100vw;
    height: 2419px;
    position: relative;
    background-color: #222222;
}