@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container-navbar {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;

  background-color: #0b0f16;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 3rem;
  font-size: 40px;
  color: #d9d9d9;

  width: 176px;
  height: 45px;
}

.logo-r{
    display: flex;
    position: absolute;
    margin: auto;
    top: 1.3rem;
    right: 3rem;
    font-size: 40px;
  
    background-color: white;
    width: 2.3rem;
    height: 2.3rem;

    border-radius: .2rem;
  }

/* .container-navbar > img {
  position: absolute;
  top: 1rem;
  left: 3rem;

  width: 176px;
  height: 45px;
}

.list-nav ul {
  list-style: none;
  font-size: 2rem;
  color: bisque;
} */
