.comments-container {
  margin-top: 3rem;
}

.comment-form-textarea {
  all: unset;
  width: 92%;

  font-size: 1.6rem;

  border-radius: 1.5rem;
  background-color: #181818;
  color: #e5e5e5;

  margin: 1rem 0 1rem 0;
  padding: 1rem;
  border: 1px solid #e5e5e5;
}

.comment-form-button {
  all: unset;

  border: 0.2rem solid #ffffff;
  border-radius: 5rem;
  padding: 0.7rem 1.5rem;

  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;

  color: #ffffff;

  cursor: pointer;
}

.comment-form-button:hover {
  background-color: #9b57de;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: #9b57de;
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 1rem;
}

.comment {
  display: flex;
  margin-bottom: 2.8rem;
}

.comment-image-container {
  margin-right: 1.2rem;
}

.comment-image-container img {
  width: 4.5rem;
  height: 4.5rem;
  border: 2px solid #9b57de;
  border-radius: 50%;

  background-size: cover;

  cursor: pointer;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 0.8rem;
  font-size: 1.8rem;
  color: #ffffff;
}

.comment-text {
  font-size: 1.8rem;
}

.comment-actions {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 0.8rem;
}

.comment-action {
  margin-right: 0.8rem;
  color: #828282;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 2rem;
}
