.division{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.division__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.8rem;

  color: #ffffff;
}

.division__line{
  width: 100%;
  height: 2rem;

  margin-left: 2rem;

  background: radial-gradient(99.3% 362248.93% at 100% 50.05%, #9B57DE 0%, rgba(155, 87, 222, 0) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}