/*.profile__background {
  width: 144rem;
  height: 46.5rem;
  display: flex;
  align-items: center;

  box-shadow: 0 -35px 30px rgba(0,0,0,.5);
  margin-top: 8rem;
  position: relative;
}

.profile__background___img {
  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
}

.img__social___icons {
  position: absolute;
  z-index: 3;

  right: 0;
  bottom: 3rem;
}

.img__social___icons img {
  margin-right: 1.5rem;
  cursor: pointer;
}*/

.main__profile {
  width: 144rem;
  height: 46.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 -35px 30px rgba(0,0,0,.5);
  margin-top: 8rem;
  margin-bottom: 20rem;
  position: relative;
}

.profile__background___img {
  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
}

.img__social___icons {
  position: absolute;
  z-index: 3;

  right: 0;
  bottom: 3rem;
}

.social___icons {
  margin-right: 1.5rem;
  cursor: pointer;
}

