.main__banner {
  display: flex;
  height: 51.5rem;

  display: flex;
  justify-content: center;
}

.banner__background {
  width: 100%;
  height: 12rem;

  margin-top: 44rem;

  background: linear-gradient(0deg, #222222 61.51%, rgba(34, 34, 34, 0) 100%);
  position: absolute;
}

.banner__box{
  flex: 1;
  transition: .5s;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
}

.banner__box > img {
  object-fit: cover;
}

/*.banner__box > span:hover {
 
}*/

.banner__box:hover{
  flex: 1 1 20%;
  
}

.banner__box > img{
  width: 100%;
  height: 100%;
}