.main__banner {
  display: flex;
  height: 51.5rem;

  justify-content: center;
}

.banner__box{
  flex: 1;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
}

/*.banner__box > span:hover {
 
}*/

.banner__box:hover{
  flex: 1 1 20%;
}

.banner__box > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}