.main__banner {
  height: 46.5rem;

  display: flex;
  justify-content: center;

  margin-top: 8rem;
}

.banner__card {
  flex: 1;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
  display:  flex;
  
  justify-content: center;
  position: relative;

}


.banner__card:hover {
  flex: 1 1 20%;
}

.banner__card > .banner__card___img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner__card___img {
  cursor: pointer;
}

.card__country {
  position: absolute;
  margin-top: 36rem;
  
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.8rem;
  text-align: center;
  
  color: #ffffff;
  text-shadow: 3px 3px 3px #0f0f0f;

  transform: translateY(80%);
  transition: all 0.5s ease-in-out;
  opacity: 0;

  cursor: pointer;
}

.banner__card:hover .card__country {
  transform: translateY(0);
}

.banner__card:hover .card__country {
  opacity: 1;
}

.card__country::after {
  content: '';
  position: absolute;
  height: .4rem;
  width: 100%;
  background: #9B57DE;
  box-shadow: 3px 3px 4px #0f0f0f;
  left: 0;
  bottom: 0;

  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}

.banner__card:hover .card__country::after {
  transform: scaleX(1);
}